<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Accès refusé</title>
	
	<link rel="icon" type="image/png" href="{{ asset('img/home/favicon.png') }}" />
	
</head>

<body>
	<div style="margin-left:auto;margin-right:auto;width:940px;">
		<img style="width:100%" src="{{ asset('img/home/erreur403.jpg') }}"/>
	</div>
</body>
</html>