app/cache/
app/logs/
app/sessions/
vendor/
!vendor/autoload.php
app/config/parameters.yml
cgv/
fiches/
mercanet/
web/bundles/
web/css/majordesk.less
web/img/LOCAL/
web/css/
web/js/
web/originals/