app/cache/
app/logs/
app/sessions/
app/config/parameters.yml
cgv/
fiches/
mercanet/
web/bundles/
web/css/majordesk.less
web/img/LOCAL/
web/css/
web/js/
web/originals/
vendor/*
!vendor/composer
!vendor/doctrine
!vendor/friendsofsymfony
!vendor/incenteev
