{% extends "::layout-main.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

<div class="container home-container">
	{% set parm = "merchant_id=078949346700011" %}
	{% set parm = parm ~ " merchant_country=fr" %}
	{% set parm = parm ~ " pathfile=/home/majorcla/mercanet/subscription/param/pathfile" %}
	{% set parm = parm ~ " sub_normal_return_url=http://www.majorclass.fr/enregistrement-carte-ok" %}
	{% set parm = parm ~ " sub_cancel_return_url=http://www.majorclass.fr/enregistrement-carte" %}
	{% set parm = parm ~ " sub_automatic_response_url=http://www.majorclass.fr/enregistrement-carte-autoresponse" %}
	{% set parm = parm ~ " header_flag=no" %}
	{% set parm = parm ~ " sub_amount=0" %}
	{% set parm = parm ~ " sub_type=0" %}
	{% set parm = parm ~ " normal_return_logo=retour.jpg" %}
	{% set parm = parm ~ " cancel_return_logo=annulation.jpg" %}
	{% set parm = parm ~ " submit_logo=valider.jpg" %}
	{% set parm = parm ~ " templatefile=subscription" %}
	
	{% set path_bin = "/home/majorcla/mercanet/subscription/bin/recordabo" %}
	
	{% set execParam = path_bin ~ " " ~ parm %}
	
	{% set result = execParam|exec %}
	
	{% set tableau = result|split('!') %}

	{% set code = tableau[1] %}
	{% set error = tableau[2] %}
	{% set message = tableau[3] %}
	
	{% if code == "" and error == "" %}
		<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue lors du chargement du script inscription. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
 	{% elseif code != 0 %}
		<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
	{% else %}
		Pour l'enregistrement de votre moyen de paiement, vous allez être redirigé vers le module BNP Paribas. Veuillez sélectionner votre type de carte bancaire ci-dessous :<br><br>
		<div class="text-center">{{ message }}</div>
	{% endif %}
</div>

{% endblock %}

