<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<body style="background-color: #fafafa;">
		 <br><br><br>
		<div style="width: 600px;margin-left:auto;margin-right:auto;background-color:#ffffff;border: 1px solid #dddddd;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:10px;">
			<div style="width:80%;margin-left:auto;margin-right:auto;"><a href="http://www.majorclass.fr"><img src="http://majorclass.fr/img/home/logo.png" style="width:100%" /></a></div><br><br>
				{{ gender }} {{ nom }},
				<br><br>
				Nous avons le plaisir de vous informer qu'un professeur a été choisi pour suivre votre enfant.
				<br><br>
				Votre professeur particulier a été averti et vous contactera dans les meilleurs délais pour convenir avec vous de la date du premier cours.
				<br>
				Vous pouvez également l'appeler au <strong>{{ telephone }}</strong>.
				<br><br>
				N'hésitez pas à nous contacter si vous avez la moindre question à l'adresse <a href="mailto:contact@majorclass.fr">contact@majorclass.fr</a>. Nous vous rappellerons au plus vite.
				<br><br><br>
				Bien à vous,<br>
				L'équipe Majorclass
				<br><br><br>
		</div>
		<div style="height:20px;width:626px;margin-left:auto;margin-right:auto;padding:5px;padding-left:30px;background-color:#687080;">
			<a href="https://www.facebook.com/MajorclassOfficialPage" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/facebook.png"></a>
			<a href="https://www.twitter.com/Majorclass_" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/twitter.png"></a>
			<a href="http://www.linkedin.com/company/majorclass" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/linkedin.png"></a>
		</div>
		<br><br><br>
	</body>
</html>