<html>
	<body>
	<img src="http://majorclass.fr/img/home/logo-sm.png" style="height:25px" /><br><br>
	{{ gender }} {{ nom }},
	<br><br>
	Suite à votre inscription le {{ date_inscription|date('d/m/y') }}, nous avons le plaisir de vous informer qu'un professeur a été choisi pour suivre votre enfant.
	<br><br>
	Il ne vous reste plus qu'à enregistrer un moyen de paiement depuis l'accueil de votre espace personnel.<br>
	Dès que ceci sera fait, vous serez immédiatement mis(e) en relation avec votre professeur et vous pourrez convenir avec lui d'une date pour le premier cours.
	<br><br>
	Bien à vous,<br>
	L'équipe Majorclass
	</body>
</html>