<html>
	<body>
	<img src="http://majorclass.fr/img/home/logo-sm.png" style="height:25px" /><br><br>
	Bienvenue chez Majorclass !
	<br><br>
	Votre inscription s'est déroulée avec succès et nous sommes heureux de vous compter parmi nos clients.
	<br><br>
	Grâce aux informations que vous nous avez transmises, nous allons pouvoir sélectionner le professeur qui convient le mieux à votre enfant. 
	Vous pouvez dès maintenant vous connecter à votre espace personnel. 
	<br><br>Voici les étapes qui vous attendent :<br>
	<ul>
		<li><em>Etape 1</em> : vous recevez un mail de notre part vous signalant qu'un professeur vous a été assigné ;</li>
		<li><em>Etape 2</em> : vous enregistrez un moyen de paiement sur votre espace personnel ;</li>
		<li><em>Etape 3</em> : vous êtes mis en contact avec le professeur de votre enfant, afin de convenir du premier cours.</li>		
	</ul>
	Vous pouvez bien sûr effectuer directement l'<em>Etape 2</em>, auquel cas vous serez mis en relation avec votre professeur dès que nous vous l'aurons assigné.
	<br><br>
	N'hésitez pas à consulter la liste des questions fréquemment posées (<a href="www.majordesk.fr/faq">www.majordesk.fr/faq</a>) ou à nous contacter par mail à l'adresse <a href="mailto:contact@majorclass.fr">contact@majorclass.fr</a> si vous avez besoin de plus amples renseignements (laissez-nous votre numéro de téléphone en cas d'urgence).
	<br><br>
	Bien à vous,
	<br>
	L'équipe Majorclass
	</body>
</html>