<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<body style="background-color: #fafafa;">
		 <br><br><br>
		<div style="width: 600px;margin-left:auto;margin-right:auto;background-color:#ffffff;border: 1px solid #dddddd;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:10px;">
			<div style="width:80%;margin-left:auto;margin-right:auto;"><a href="http://www.majorclass.fr"><img src="http://majorclass.fr/img/home/logo.png" style="width:100%" /></a></div><br><br>
			{{ gender }} {{ nom }},
			<br><br>
			
			Cet email est un message automatique pour vous prévenir que votre carte bancaire expire le mois prochain. Une fois votre nouvelle carte bancaire reçue, n'oubliez pas de modifier votre moyen de paiement sur <a href="http://www.majorclass.fr">www.majorclass.fr</a>.
			<br><br>
			Pour modifier votre moyen de paiement, rendez-vous sur votre page de paramètre (accès rapide en haut à droite) ou cliquez sur "Gérer mon moyen de paiement" depuis votre page Mon Compte. Une fois sur cette page, cliquez sur "Modifier vos informations bancaires" et vous serez redirigé sur un espace sécurisé BNP Paribas afin de modifier votre numéro de carte.
			
			<br><br>
			Bien à vous,<br>
			L'équipe Majorclass
			<br><br><br>
		</div>
		<div style="height:20px;width:626px;margin-left:auto;margin-right:auto;padding:5px;padding-left:30px;background-color:#687080;">
			<a href="https://www.facebook.com/MajorclassOfficialPage" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/facebook.png"></a>
			<a href="https://www.twitter.com/Majorclass_" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/twitter.png"></a>
			<a href="http://www.linkedin.com/company/majorclass" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/linkedin.png"></a>
		</div>
		<br><br><br>
	</body>
</html>