<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<body style="background-color: #fafafa;">
		 <br><br><br>
		<div style="width: 600px;margin-left:auto;margin-right:auto;background-color:#ffffff;border: 1px solid #dddddd;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:10px;">
			<div style="width:80%;margin-left:auto;margin-right:auto;"><a href="http://www.majorclass.fr"><img src="http://majorclass.fr/img/home/logo.png" style="width:100%" /></a></div><br><br>
			Bonjour {{ prenom }},
		    <br><br>
			Le virement pour les cours que tu as donné le mois dernier vient d'être réalisé. Tu devrais le voir sur ton compte d'ici quelques jours ouvrables.
			<br><br>
			Pour plus de détails sur le montant exact de ta paie, rends toi sur ton espace via le lien suivant :
			<br><br>
			<a href="http://www.majorclass.fr/professeur/cours-donnes/{{ id }}" style="text-decoration:none;color: #ffffff;background-color: #5cb85c;border-color: #4cae4c;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;">Voir le détail des cours donnés</a>
			<br><br>
			N'oublie pas de nous suivre sur les réseaux sociaux !! (liens ci-dessous)
			<br><br><br>
			Bien à toi,
			<br>
			L'équipe Majorclass
			<br><br><br>
		</div>
		<div style="height:20px;width:626px;margin-left:auto;margin-right:auto;padding:5px;padding-left:30px;background-color:#687080;">
			<a href="https://www.facebook.com/MajorclassOfficialPage" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/facebook.png"></a>
			<a href="https://www.twitter.com/Majorclass_" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/twitter.png"></a>
			<a href="http://www.linkedin.com/company/majorclass" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/linkedin.png"></a>
		</div>
		<br><br><br>
	</body>
</html>