<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<body style="background-color: #fafafa;">
		 <br><br><br>
		<div style="width: 600px;margin-left:auto;margin-right:auto;background-color:#ffffff;border: 1px solid #dddddd;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:10px;">
			<div style="width:80%;margin-left:auto;margin-right:auto;"><a href="http://www.majorclass.fr"><img src="http://majorclass.fr/img/home/logo.png" style="width:100%" /></a></div><br><br>
			Bonjour {{ prenom }},
			<br><br>
			Nous te remercions de ton inscription. Nous te contacterons par mail ou par SMS afin de fixer un entretien Skype.
			<br><br>
			Avant cela, voilà <strong>les étapes qu'il te reste à faire</strong> :
			<ul>
				<li>Confirmer ton adresse mail en cliquant sur le lien suivant : <a href="http://www.majorclass.fr/confirmation-inscription-professeur/{{ encrypted_mail }}">http://www.majorclass.fr/confirmation-inscription-professeur/{{ encrypted_mail }}</a></li>
				<li>Uploader un scan (ou une photo) de ta carte d'étudiant</li>
				<li>Uploader un scan (ou une photo) de ton extrait de casier judiciaire (la démarche est simple et expliquée sur ton espace perso)</li>
			</ul>
			<br>
			Ne t'alarme pas si nous ne te contactons pas immédiatement, car nous fonctionnons par flux tirés, c'est-à-dire que nous attendons une demande de famille pour contacter les professeurs susceptibles de donner ce cours. 
			Lorsque nous te contacterons, il y a donc de grandes chances que ce soit pour commencer un cours tout de suite !
			<br><br>
			N'hésite pas à nous contacter si tu as la moindre question à l'adresse <a href="mailto:contact@majorclass.fr">contact@majorclass.fr</a>.
			<br><br>
			A bientôt,<br>
			L'équipe Majorclass
			<br><br><br>
		</div>
		<div style="height:20px;width:626px;margin-left:auto;margin-right:auto;padding:5px;padding-left:30px;background-color:#687080;">
			<a href="https://www.facebook.com/MajorclassOfficialPage" target="blank_"><img style="height:20px;" src="http://majorclass.fr/img/home/facebook.png"></a>
			<a href="https://www.twitter.com/Majorclass_" target="blank_"><img style="height:20px;" src="http://majorclass.fr/img/home/twitter.png"></a>
			<a href="http://www.linkedin.com/company/majorclass" target="blank_"><img style="height:20px;" src="http://majorclass.fr/img/home/linkedin.png"></a>
		</div>
		<br><br><br>
	</body>
</html>