<html>
	<body>
	<img src="http://majorclass.fr/img/home/logo-sm.png" style="height:25px" /><br><br>
	Bonjour {{ prenom }},
	<br><br>
	Nous te remercions de ton inscription. Nous te contacterons par mail ou par SMS afin de fixer un entretien Skype.
	<br><br>
	Avant cela, voilà <strong>les étapes qu'il te reste à faire</strong> :
	<ul>
		<li>Confirmer ton adresse mail en cliquant sur le lien suivant : <a href="http://www.majorclass.fr/confirmation-inscription-professeur/{{ encrypted_mail }}">http://www.majorclass.fr/confirmation-inscription-professeur/{{ encrypted_mail }}</a></li>
		<li>Uploader un scan (ou une photo) de ta carte d'étudiant</li>
		<li>Uploader un scan (ou une photo) de ton extrait de casier judiciaire (la démarche est simple et expliquée sur ton espace perso)</li>
	</ul>
	<br>
	Ne t'alarme pas si nous ne te contactons pas immédiatement, car nous fonctionnons par flux tirés, c'est-à-dire que nous attendons une demande de famille pour contacter les professeurs susceptibles de donner ce cours. 
	Lorsque nous te contacterons, il y a donc de grandes chances que ce soit pour commencer un cours tout de suite !
	<br><br>
	N'hésite pas à nous contacter si tu as la moindre question à l'adresse <a href="mailto:contact@majorclass.fr">contact@majorclass.fr</a>.
	<br><br>
	A bientôt,<br>
	L'équipe Majorclass
	</body>
</html>