<html>
	<body>
	<img src="http://majorclass.fr/img/home/logo-sm.png" style="height:25px" /><br><br>
	{{ gender }} {{ nom }},
	<br><br>
	L'enregistrement de votre moyen de paiement s'est bien déroulé. Les cours peuvent donc commencer !
	<br><br>
	Votre professeur particulier a été averti et vous contactera dans les meilleurs délais pour convenir avec vous de la date du premier cours.
	<br>
	Vous pouvez également l'appeler au <strong>{{ telephone }}</strong>.
	<br><br>
	N'hésitez pas à nous contacter si vous avez la moindre question à l'adresse <a href="mailto:contact@majorclass.fr">contact@majorclass.fr</a>. Nous vous rappellerons au plus vite.
	<br><br><br>
	Bien à vous,<br>
	L'équipe Majorclass
	</body>
</html>