<html>
	<body>
	<img src="http://majorclass.fr/img/home/logo-sm.png" style="height:25px" /><br><br>
	Bonjour,
	<br><br>
	Suite à votre demande de mot de passe oublié, veuillez suivre le lien ci-dessous afin de créer un nouveau mot de passe :
	<br><br>
	http://www.majorclass.fr/mdp-reset/{{ encrypted_mail }}
	<br><br>
	Bien à vous,<br>
	L'équipe Majorclass
	</body>
</html>