<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<body style="background-color: #fafafa;">
		 <br><br><br>
		<div style="width: 600px;margin-left:auto;margin-right:auto;background-color:#ffffff;border: 1px solid #dddddd;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:10px;">
			<div style="width:80%;margin-left:auto;margin-right:auto;"><a href="http://www.majorclass.fr"><img src="http://majorclass.fr/img/home/logo.png" style="width:100%" /></a></div><br><br>
			{{ gender }} {{ nom }},
			<br><br>
			Voici votre récapitulatif des cours pris cette semaine :
			<br>
			<ul>
				{{ liste|raw }}
			</ul>
			Nous vous rappelons que vos factures mensuelles sont disponibles en ligne sur votre espace personnel.<br><br>
			Bien à vous,<br>
			L'équipe Majorclass
			<br><br><br>
		</div>
		<div style="height:20px;width:626px;margin-left:auto;margin-right:auto;padding:5px;padding-left:30px;background-color:#687080;">
			<a href="https://www.facebook.com/MajorclassOfficialPage" target="blank_"><img style="height:20px;" src="http://majorclass.fr/img/home/facebook.png"></a>
			<a href="https://www.twitter.com/Majorclass_" target="blank_"><img style="height:20px;" src="http://majorclass.fr/img/home/twitter.png"></a>
			<a href="http://www.linkedin.com/company/majorclass" target="blank_"><img style="height:20px;" src="http://majorclass.fr/img/home/linkedin.png"></a>
		</div>
		<br><br><br>
	</body>
</html>